.checkout-page {
    flex: 1;
    width: min(80em, 100%);
    padding: 1em;
}

.checkout-page .title {
    padding: 0;

    margin-bottom: 0.5em;

    position: relative;
}

.checkout-page .title::after {
    background-color: #bbb;
    width: 100%;
    height: 1px;

    content: "";
    position: absolute;
    bottom: calc(-0.25em + 0.5px);
    left: 0;
}

.checkout-page__main {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5em;
}

.checkout-summary {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.checkout-section:not(.checkout-section-3) {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.checkout-section {
    position: relative;
}

.checkout-section::before {
    background-color: #bbb;
    width: 100%;
    height: 1px;

    content: "";
    position: absolute;
    top: calc(-0.5em + 0.5px);
    left: 0;
}

.checkout-section__title {
    padding: 0.5em 0;

    font-size: 1.25em;
    font-weight: bold;

    display: flex;
    gap: 1em;

    width: 100%;
}

.checkout-section.checkout-section-3 .checkout-section__title {
    width: 100%;
}

.products-summary {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.side-section__pay {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    padding: 1em;
    border-radius: 0.5em;
    box-shadow: var(--bottom-shadow);
}

.summary-subtext {
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    margin-top: 0.75em;
}

.summary-subtext::before {
    background-color: #bbb;
    width: 100%;
    height: 1px;

    content: "";
    position: absolute;
    top: calc(-0.5em + 0.5px);
    left: 0;
}

.total {
    font-size: 1.5em;
    position: relative;

    margin-top: calc(1em / 1.5);
}

.total::before {
    background-color: #bbb;
    width: 100%;
    height: 1px;

    content: "";
    position: absolute;
    top: calc(-0.5em + 0.5px);
    left: 0;
}

.checkout-section .alert-message {
    margin-bottom: 0.5em;
}

.shipping-cost {
    margin-top: 0.5em;
}

.checkout-section__data {
    flex: 1;
}

.payment-methods {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5em, 1fr));
    gap: 1em;
}

.payment-option {
    box-shadow: var(--bottom-shadow);
    border-radius: 0.25em;

    max-height: 5em;
    width: 100%;

    padding: 1em;

    display: flex;
    align-items: center;
    flex: 1;

    cursor: pointer;
    user-select: none;

    transition: all 0.2s ease-in-out;
}

.payment-option__title {
    flex: 1;

    font-size: 1.25em;
}

.payment-option .logo {
    max-height: 4em;
}

.payment-option:first-child .logo {
    max-height: 3.5em;
}

.payment-option:hover,
.payment-option.selected {
    box-shadow: 0em 0em 0.7em 0.3em #ccc;
}

.payment-option:hover {
    color: var(--orange);
}

.shipment-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.shipment-address__inner {
    width: 100%;
}

.editing-shipment {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.confirmed-shipment-data,
.editing-shipment {
    margin-bottom: 0.5em;
}

.shipment-button {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .checkout-page__main {
        flex-direction: row;
    }

    .checkout-summary {
        flex: 3;
    }

    .checkout-section.checkout-section-1::before {
        display: none;
    }

    .checkout-section__inner {
        display: flex;
        flex-direction: row;
    }

    .checkout-section:not(.checkout-section-3) .checkout-section__title {
        width: 25%;

        padding: 0;
    }

    .side-section {
        flex: 1;

        height: fit-content;
    }

    .payment-methods {
        padding-left: 1em;
    }

    .shipment-address {
        flex-direction: row;
    }

    .shipment-address__inner {
        padding: 0 0.5em 0 1em;
        margin: 0;

        width: auto;
        flex: 1;
    }

    .shipment-address__inner.fetch-error {
        padding: 0;
        padding-left: 1em;
    }

    .shipment-button {
        width: auto;
    }

    .confirmed-shipment-data,
    .editing-shipment {
        margin-bottom: 0;
    }

    .editing-shipment + .alert-message {
        margin-top: 0.5em;
    }
}
