.forgot-password,
.reset-password {
    width: min(25em, 80%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;
    margin: 2em;
}

.forgot-password__form,
.reset-password__form {
    width: 100%;
    box-shadow: var(--bottom-shadow);
    border-radius: 0.5em;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;
}

.logo-container {
    height: 7.5em;
}

.logo-container > svg {
    height: 100%;
}

.forgot-password__form .form-title,
.reset-password__form .form-title {
    width: 100%;

    font-size: 2em;

    font-weight: bold;
}
