.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ordered-items__container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ordered-item .alert-message {
    margin: 0 !important;
}

.ordered-item {
    background-color: blueviolet;

    padding: 1em;
}
